:root {
  --main-bg-color: #F7FBFD;
  --main-component-color: white;
}

body {
  margin: 0px;
  background-color: var(--main-bg-color);
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6, hr {
  margin: 0px;
}

.light-blue {
  background-color: #E5E5FF;
}

.white {
  background-color: white;
}

.application {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr 64vw 1fr;
  grid-template-rows: 5vh 1fr;
  background-color: var(--main-bg-color);
}

.main-card {
  grid-area: 2/2/3/3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-component-color);
}

.main-header {
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2.4px solid var(--main-bg-color);
}

.header-label {
  margin: 0px;
  text-align: center;
}

.conversion-cards {
  margin-top: 24px;
  height: 178px;
  width: 89%;
  display: flex;
}

.valuta-card {
  height: 100%;
  width: 50%;
}

.valuta-card-header {
  height: 28%;
  display: flex;
  align-items: center;
}

.valuta-selector {
  margin-left: 16px;
  border: none;
  color: black;
}

.valuta-card-main {
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valuta-form {
  display: flex;
  justify-content: center;
}

.amount-input {
  text-align: center;
  width: 100%;
  font-size: 2.6em;
  border: none;
  color: #22222E;
}

.list-bar {
  grid-area: 2/3/3/4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll
}

.list-bar-card {
  width: 89%;
}

.list-header {
  width: 100%;
  height: 3.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valuta-list {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.valuta-list-card {
  margin-bottom: 8px;
  height: 3.4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
