:root {
  --main-bg-color: #F7FBFD;
  --main-component-color: white;
}

body {
  margin: 0px;
  background-color: var(--main-bg-color);
  font-family: 'Oswald', sans-serif;
}

hr {
  margin: 0px;
}

.application {
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg-color);
}

.main-card {
  margin-top: 5vh;
  margin-left: 16vw;
  height: 95vh;
  width: 64vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-component-color);
}

.main-header {
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2.4px solid var(--main-bg-color);
}

.header-label {
  margin: 0px;
  text-align: center;
}

.conversion-cards {
  margin-top: 24px;
  height: 178px;
  width: 89%;
  display: flex;
}

.valuta-card {
  height: 100%;
  width: 50%;
}

.valuta-card-header {
  height: 28%;
  display: flex;
  align-items: center;
}

.valuta-selector {
  margin-left: 16px;
  border: none;
  color: black;
}

.valuta-card-main {
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valuta-form {
  display: flex;
  justify-content: center;
}

.amount-input {
  text-align: center;
  width: 100%;
  font-size: 2.6em;
  border: none;
  color: #22222E;
}

.light-blue {
  background-color: #E5E5FF;
}

.white {
  background-color: white;
}
